<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header'); %>
  </head>
  <body>
    <header><%- include('./components/navbar'); %></header>
    <div class="wrapper mt-nav-height">
      <main class="container p-3">
        <h1>1</h1>
        <h1>123</h1>
        <h1>123</h1>
        <h1>123</h1>

        <h1>123</h1>

        <h1>123</h1>  <h1>123</h1>
        <h1>123</h1>

        <h1>123</h1>

        <h1>123</h1>  <h1>123</h1>
        <h1>123</h1>

        <h1>123</h1>

        <h1>123</h1>  <h1>123</h1>
        <h1>123</h1>

        <h1>123</h1>

        <h1>123</h1>  <h1>123</h1>
        <h1>123</h1>

        <h1>123</h1>

        <h1>123</h1>  <h1>123</h1>
        <h1>123</h1>

        <h1>123</h1>

        <h1>123</h1>
      </main>
    </div>
    <%- include('./components/footer'); %>

    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/login/index.js"></script>
  </body>
</html>
