<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header'); %>
  </head>
  <div id="container">
    <body>
      <header><%- include('./components/navbar'); %></header>
      <main id="main" class="container mt-nav-height p-3 overflow-auto">
        <h1>123</h1>
        <h1>123</h1>
        <h1>123</h1>
        <h1>123</h1>
        <h1>123</h1>
        <h1>123</h1>
        <h1>123</h1>
        
        <h1>123</h1>
        <h1>123</h1>

        <h1>123</h1>

        <h1>123</h1>
      </main>
      <%- include('./components/footer'); %>
      <script src="/vendors/jquery/jquery.min.js"></script>
      <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/javascripts/login/index.js"></script>
    </body>
  </div>
</html>
