<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header'); %>
  </head>
  <header><%- include('./components/navbar'); %> <%- include('./components/sidebar'); %></header>
  <body>
    <main style="margin-top: 58px">
      <div class="container pt-4">qwe</div>
    </main>
    <%- include('./components/footer'); %>
    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/login/index.js"></script>
  </body>
</html>
