<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header'); %>
  </head>
  <body>
    <header><%- include('./components/navbar'); %></header>
    <div class="wrapper">
      <main class="container p-3 d-flex justify-content-center align-items-center vh-100">
        <div class="card w-100">
          <div class="card-header">車牌查詢</div>
          <div class="card-body">
            <form id="moto-search-form" method="POST">
              <div class="input-group mb-3">
                <input
                  type="text"
                  id="license_no"
                  class="form-control form-control-lg"
                  name="license_no"
                  placeholder="車牌號碼"
                />
                <button type="submit" class="btn btn-primary btn-lg">搜尋</button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
    <%- include('./components/footer'); %>
    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/search/index.js"></script>
    <script src="/vendors/sweetalert2/sweetalert2@11.js"></script>
  </body>
</html>
