<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header'); %>
  </head>
  <header>
    <%- include('./components/navbar'); %>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      table td,
      table th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
      }
      @media (max-width: 710px) {
        table {
          display: block;
          overflow-x: auto;
          white-space: nowrap;
        }
        table td,
        table th {
          white-space: nowrap;
        }
      }
      .title {
        font-weight: bold;
        background-color: #ddd;
        
      }
    </style>
  </header>
  <body>
    <main style="margin-top: 58px; padding: 10px">
      <div class="card">
        <div class="card-header">車牌查詢</div>
        <div class="card-body">
          <form id="moto-search-form" method="POST">
            <div class="input-group mb-3">
              <input
                type="text"
                id="license_no"
                class="form-control form-control-lg"
                name="license_no"
                placeholder="車牌號碼"
              />
              <button type="submit" class="btn btn-primary btn-lg">搜尋</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">顧客資訊</div>
        <div class="card-body">
          <table>
            <tbody>
              <tr>
                <td class="title">機車車牌</td>
                <td>RFS-123</td>
                <td class="title">顧客稱呼</td>
                <td>陳小姐</td>
                <td class="title">聯絡方式</td>
                <td>0972027804</td>
                <td class="title">上次來店</td>
                <td>2023/03/05</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <%- include('./components/footer'); %>
    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/search/index.js"></script>
    <script src="/vendors/sweetalert2/sweetalert2@11.js"></script>
  </body>
</html>
