<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header'); %>
  </head>
  <body>
    <%- include('./components/navbar'); %> <%- include('./components/sidebar'); %>
    <main class="mt-5 pt-3">
      <div class="container-fluid"></div>
      <%- include('./components/footer'); %>
    </main>

    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
