<!-- <footer class="py-1">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="px-2 text-muted">Terms of Service</a></li>
    <li class="nav-item"><a href="#" class="px-2 text-muted">Privacy Policy</a></li>
    <li class="nav-item"><a href="#" class="px-2 text-muted">Contact</a></li>
  </ul>
  <p class="text-center text-muted">© 2023 Justin Xiao</p>
</footer> -->

<footer class="d-flex flex-wrap justify-content-between align-items-center  border-top fixed-bottom">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <img class="mx-1 mb-2" src="/images/favicon/apple-touch-icon.png" alt="" width="25" height="25" />
    </a>
  </div>
  <span class="mb-md-0 text-muted">&copy; 2023 Justin Xiao</span>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-muted" href="#"><i class="bi bi-facebook"></i></a>
    </li>
    <li class="ms-3 me-2">
      <a class="text-muted" href="#"><i class="bi bi-envelope-at"></i></a>
    </li>
  </ul>
</footer>
