<div id="footer" class="w-100 border-top">
  <footer>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="/" class="me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img class="mx-1 text-muted" src="/images/favicon/favicon-gray-32x32.png" alt="" width="25" height="25" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" href="#"><i class="bi bi-facebook mx-1"></i>Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" href="#"><i class="bi bi-envelope-at mx-1"></i>Contact</a>
      </li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 Justin Xiao</p>
  </footer>
</div>
<style>
  #footer {
    max-height: 65px;
    height: 65px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: #eee;
  }
</style>
