<footer class="w-100 border-top footer">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href="/" class="nav-link px-2 text-muted">
        <img class="mx-1 mb-2" src="/images/favicon/favicon-gray-32x32.png" alt="" width="20" height="20" />
        Moto
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2 text-muted" href="#"><i class="bi bi-facebook mx-1"></i>Facebook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2 text-muted" href="#"><i class="bi bi-envelope-at mx-1"></i>Contact</a>
    </li>
  </ul>
  <p class="text-center text-muted">&copy; 2023 Justin Xiao</p>
</footer>

<style>
  .footer {
    /* margin-top: -70px; */
    height: 70px;
    background-color: #eee;
    z-index: 9999;
    clear: both;
    margin-bottom: 0;
  }
</style>
