<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <div class="me-auto">
    <!-- Toggle button -->
      <button
        style="transform: rotate(0deg); transition: transform 0.5s"
        id="sidebar-toggle"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-chevron-down text-white"></i>
      </button>

      <img class="mx-1 mb-3" src="/images/favicon/apple-touch-icon.png" alt="" width="30" height="30" />
      <a class="navbar-brand text-white" href="#">MotoM</a>
    </div>
    <!-- Toggle button -->

    <!-- Right links -->
    <ul class="mb-0 ms-auto d-flex flex-row">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-fill"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">My profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#" id="logout">Logout</a></li>
        </ul>
      </li>
      
    </ul>
    
  </div>
</nav>
<!-- Navbar -->
